@model IEnumerable<LoginWebForm.Models.Designation>

@{
    ViewData["Title"] = "DesignatonList";
}

<h1>DesignatonList</h1>
<p style="float:right">
		<a asp-action="Create" class="btn btn-primary">Add New</a>
	</p>
	<br />
	<div class="col-4 p-0 justify-content-end">
		<form asp-controller="Designation" asp-action="DesignationList">
			<span class="btn-group">
				<input class="form-control" type="text" name="SearchText" placeholder="--Searching By Name--" id="wid" />
				<input class="btn btn-success pb-l-4" type="submit" value="Search" />
			</span>
		</form>
	</div>
	<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <form>
							@Html.ActionLink("Edit", "Create", new {  id=item.ID, item.Name },new {@class="btn btn-sm btn-info "}) |



							<button type="submit" formmethod="get" class="btn btn-sm btn-primary" asp-controller="Designation" asp-action="DesignationDetail" asp-route-id=@item.ID>
								Detail
							</button> |


							<button type="submit" formmethod="get"  class="btn btn-sm btn-danger" asp-controller="Designation" asp-action="Delete" asp-route-id=@item.ID >
								Delete
							</button>
						</form>
            </td>
        </tr>
}
    </tbody>
</table>
