@model LoginWebForm.Models.Department

@{
	ViewData["Title"] = "DepartmentDetail";
}

<h1>DepartmentDetail</h1>
<br />
<div class="row">
	
	<div class="col-md-6">
		<hr />
		<dl class="row">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Name)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Name)
			</dd>
		</dl>
	</div>
</div>
<div>
	<form>
		<button type="submit" formmethod="get" style="margin-left:auto" class="btn btn-primary col-md-1 mb-5 " asp-controller="Department" asp-action="DepartmentList">Back</button>
	</form>
	
</div>
